body{
    background-color: black;
    font-family: 'Roboto', sans-serif;
}
.netflix{
    background: #e50914;
}

.jumbotron{
    background-color: black;
}

hr{
    border-top: 1px solid white;
}
#allMoviesContainer{
    margin: 0 60px 0 60px;
}

.form-control{
    height: 34px;
    width: 300px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border-radius: 4px;
}

h2{
    color: white;
}
img{
    align-content: center;
}